* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	margin-top: 200px; 
	text-align: center;
}

h2 {
	margin-top: 100px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
   	width: 80%;
   	height: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

textarea {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: darkblue;
	resize: none;
}

button {
	display: block;
	font-size: 20px;
	padding: 12px 28px;
	border-radius: 12px;	
}

input.user {
	height: 35px;
}

button.user {
	 font-size: 18px; 
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

button.user:hover {
	background-color: #4CAF50;
    color: white;
}

.container {
	padding: 10px;
	max-width: 80%;
	margin: 15px auto;
	font-size: 18px;
}

.submit,
.login {
	display: inline-block;
	min-width: 250px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.submit:hover,
.login:hover {
    background-color: #4CAF50;
    color: white;
}

.text_area {
	margin: 5px;
	display: inline-block;
	width: 49%;
}

.comments {
	margin: 0 auto;
    width: 80%;
}

.hide {
	display: none;
}


.user {
	display: inline-block;
	margin-right: 10px;	
}

#text_field {
	margin-bottom: 25px;
	text-align: center;
}

#nextpic {
	display: inline-block;
}

#second {
	position: absolute;
	top: 0;
	left: 0;
}

#cover {
	background-image: url("taust.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	opacity: 0.2;
	height: 1000px; 
}

#main {
	position: relative;
}

#newUser {
	margin-top: 200px;
}

#welcome {
	max-width: 63%;
	text-align: justify;
	line-height: 1.8;
}

#currentUserName {
	float: right;
}

#currentUserName p {
	display: inline-block;
	padding-right: 100px;
	margin-top: 10px;
}

#navigation {
	margin-top: 10px;
}

#lowerbuttons{
	display:inline;
}

#logOut {
	display: inline-block;
	padding: 5px 10px;
	min-width: 100px;
	float: right;
}

#logOut:hover{
	background: tomato;
}
