<div class="text_area"><textarea name="main_remarks" id="main_remarks" rows="4" maxlength="500" placeholder="Sõnum kaardil NB! Kui kaart on tühi, siis kirjutage: &quot;Tühi kaart&quot;" onfocus="this.placeholder=''" onblur="this.placeholder='Sõnum kaardil NB! Kui kaart on tühi, siis kirjutage: &quot;Tühi kaart&quot;'"></textarea></div>
<div class="text_area"><textarea name="extra_remarks" id="extra_remarks" rows="4" maxlength="250" placeholder="Aadress, margid, templid, hilisemad märkused ja muud tähelepanekud" onfocus="this.placeholder=''" onblur="this.placeholder='Aadress, margid, templid, hilisemad märkused ja muud tähelepanekud'"></textarea></div>
<div class="controlButtons">
<button class="submit" onClick="saveNewTextAndComment()">Salvesta</button>
<div id="nextpic"><button  class="submit next_picture" onClick="getNextUnreviewedPostcardID()">Järgmine kaart</button></div>
</div>